html, body{
    background-color: white;
    margin: 0;
    height: 100%;
}

.container{
    background-color: aliceblue;
    align-items: center;
    display: grid;
}

img{
    justify-self: center;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    padding-left: 30px;
}

a{
    color: black;
}

a:hover{
    text-decoration: underline;
    color: black;
}

#topLeft{
    display: inline-block; 
}

#topRight{
    display: inline-block;
    justify-self: right;
}

form{
    margin: 20px;
    justify-self: center;
}

footer{
    position:absolute; 
    bottom: 0px; 
    width: 100%;
    background-color: gray;
}